In [1]:
#1.WAS to print "Hello world" 
print("Hello World")

Hello World

In [8]:
#2.WAS to initialize variable and value.
a=50
print(a)

50

In [9]:
#3.WAS to initialize multivariable values are 150,120,250.
a,b,c=150,120,250
print(a,b,c)

150 120 250

In [14]:
#4.WAS to print type of the data in given  value.
a=[1,2,3]
type(a)

list

In [15]:
#5.WAS to print the address of the memory block in given value.
a=15.06
id(a)

2567554494224

In [19]:
#6.WAS to print  your details,first store your details,extract the values and display it.
name="bhagya"
age=21
phone=9390899287
email="bhagyavangapandu@gmail.com"
print(name)
print(age)
print(phone,email)

bhagya
21
9390899287 bhagyavangapandu@gmail.com

In [20]:
 #7.WAS to swap the two values with a temp variable.
x="haii"
y="byee"
temp=x
x=y
y=temp
print(x)
print(y)

byee
haii

In [21]:
#8.without temp variable.
m=(1,2,3)
n={10,20,30}
m,n=n,m
print(m,n)

{10, 20, 30} (1, 2, 3)

In [24]:
#9.WAS to initialize a value and print the value,after print the value,then reinitialize the new value to the existing variable and display the value.
a={'a':"pyspiders"}
print(a)
print(a['a'])
a['a']="qspiders"
print(a)
print(a['a'])
a=[10,20,30]
print(a)
a+=[40,50]
print(a)
del(a)

{'a': 'pyspiders'}
pyspiders
{'a': 'qspiders'}
qspiders
[10, 20, 30]
[10, 20, 30, 40, 50]

In [25]:
#10.WAS to covert single to multi value data types.
a=10
print(list(str(a)))

['1', '0']

In [26]:
#11.WAS to concat the two multi value data types (str,list,tuple,set,dict)
x="hello"
x+="world"
print(x)
y=[10,20,30]
y+=[50,60]
print(y)
z=(1,2,3)
z+=(7,8)
print(z)
m={"haii",10,10.06,6}
m|={70,80}
print(m)
n={10:20,40:50}
n|={'a':"ok",'b':"its ok"}
print(n)
a=["10,20,30"]
a+="haii"
print(a)
b=[1,2,3]
b+=(4,5)
c=[4,5,6]
c+={10,20}
print(c)
d=[8,9,80]
d+={10:20,30:40}
print(d)

helloworld
[10, 20, 30, 50, 60]
(1, 2, 3, 7, 8)
{80, 10.06, 6, 70, 10, 'haii'}
{10: 20, 40: 50, 'a': 'ok', 'b': 'its ok'}
['10,20,30', 'h', 'a', 'i', 'i']
[4, 5, 6, 10, 20]
[8, 9, 80, 10, 30]

In [27]:
#12.WAE to check the length of the collection.
t=[4,5,6]
print(len(t))
u="hello"
print(len(u))

3
5

In [32]:
#13.WAE to check find out the middle value of the given collection.
a=[10,20,3,4]
print (a[len(d)//2])
c=[2,3,4,5,6]
print(c[len(d)//2])

3
4

In [2]:
#14 WAS to concat the new string into the starting of the given string.
a="How r you"
b= " Haii"
print(b+a)

 HaiiHow r you

In [3]:
#15 WAS to concat the new string into the ending of the given string.
a="world"
b="haii"
print(a+b)

worldhaii

In [14]:
#16 WAS to concat the new string into the middle of the given string.
s="apple"
s[0:2]+"b"+s[3:]

'apble'

In [7]:
#17 WAS to modify the new character into a middle of the given string.
s="pyspiders"
s[len(s)//2]
s[0:len(s)//2]+'I'+s[len(s)//2+1:]

'pyspIders'

In [8]:
#18 WAS to replace the old character into a new character of the given string.
s="pyspiders"
s[0:5]+"D"+s[6:]

'pyspiDers'

In [12]:
#19 WAS to delete the specific character in the given string.
s="pyspiders"
s[0:2]+s[3:]

'pypiders'

In [18]:
#20 WAS to modify the sequence of character in given string.
s="pyspiders"
s[0:3]+"PID"+s[6:]

'pysPIDers'

In [21]:
#21 WAS to concat the newstring into the specific position of given string
r="haii are you"
r[0:4+1]+"how"+r[4:]

'haii how are you'

In [22]:
#22 WAS to delete the sequence of character in given string
s="pyspiders"
s[:3]+s[6:]

'pysers'

In [23]:
#23 WAS to concat the new value into the starting of the given list.
l=[1,2,3]
id(l)
l=[4,5]+l
id(l)
print(l)

l=[10,20,30]
id(l)
l[0:0]=['a','b']
id(l)
print(l)

[4, 5, 1, 2, 3]
['a', 'b', 10, 20, 30]

In [25]:
#24 WAS to concat the new value into the ending of the given list.
a=[1,2,3]
a=a+[10,20]
print(a)

l=['a','b',20,30]
l+=[4,5]
print(l)

[1, 2, 3, 10, 20]
['a', 'b', 20, 30, 4, 5]

In [26]:
#25 WAS to concat the new value into the middle of the given list.
l=[1,2,3,4]
l[(len(l)//2):(len(l)//2)]=['a','b']
print(l)

[1, 2, 'a', 'b', 3, 4]

In [2]:
#26. WAS to concat the new values into the specific position of the given list.
l=[100,200,True,10.02]
l[2:2]=[20,30]
print(l)

[100, 200, 20, 30, True, 10.02]

In [3]:
#27. WAS to modify the new value into the specific position of list.
l=[1,2,3,4,5,6]
l[4]=100
print(l)

[1, 2, 3, 4, 100, 6]

In [5]:
#28.WAS to modify the new value into the starting of the list.
l=[10,30,60,80,100]
l[0]=b'10101'
print(l)
l=[100,200,300,400]
l[0]=True
print(l)

[b'10101', 30, 60, 80, 100]
[True, 200, 300, 400]

In [6]:
#29.WAS to modify the new value into the ending of list.
a=[100,300,15.06,b'10101',15+5j]
a[4]={1,2,3}
print(a)

[100, 300, 15.06, b'10101', {1, 2, 3}]

In [9]:
#30. WAS to modify the new value into the middle of the list.
b=[10,20,30,40,50,100]
b[len(b)//2]='Helloworld'
print(b)

[10, 20, 30, 'Helloworld', 50, 100]

In [10]:
#31. WAS to modify the first 4 position values into a list.
M=['a','b','c','d',10,20,30]
M[0:3+1]=[True, False,None,b'10101']
print(M)

[True, False, None, b'10101', 10, 20, 30]

In [1]:
#32 WAS to modify the sequence of values into a given list.
l=[5,6,7,8,9,10]
l[1::2]=[3,4,5]
print(l)

[5, 3, 7, 4, 9, 5]

In [1]:
#33 WAS to delete the value in the specific position of list.
l=[1,2,3,4,5,6]
del l[3]
print(l)

[1, 2, 3, 5, 6]

In [2]:
#34 WAS to delete the new value into the ending of the list.
l=[4,5,6,7,8]
del l[-1]
print(l)

[4, 5, 6, 7]

In [3]:
#35 WAS to delete the new value into the starting of the list.
l=[10,20,30,True]
del l[0]
print(l)

[20, 30, True]

In [4]:
#36 WAS to delete the value into middle of the list
s=[1,3,4,67,47,56,8,99]
del s[len(s)//2]
print(s)

[1, 3, 4, 67, 56, 8, 99]

In [17]:
# 37.WAS to concat the value into the middle of the tuple.
a=(1,2,3,4,5,6)
a=a[:len(a)//2]+ ([10,20],)+a[len(s)//2:]
print(a)

(1, 2, 3, [10, 20], 4, 5, 6)

In [1]:
#38 WAS to concat the value into starting of the tuple.
t=("hello",'good','morning',"good night")
t=('haii',)+t
print(t)

('haii', 'hello', 'good', 'morning', 'good night')

In [4]:
#39 WAS to concat the value into the ending of the tuple.
t=(1,4,5,6,7)
t=t+(2,)
print(t)

(1, 4, 5, 6, 7, 2)

In [7]:
#40 WAS to modify the sequence of values in given tuple.
a=(1,2,3,4,5,6)
a=a[0:2]+(10,20)+a[4:]
print(a)

(1, 2, 10, 20, 5, 6)

In [8]:
#41 WAS to delete sequence of values in given tuple.
x=(1,2,3,4,5)
x=x[0:2]+x[4:]
print(x)

(1, 2, 5)

In [9]:
#42 WAS to concat the new value into the set.
s={1,2,3,4,5,6}
s|={10,20}
print(s)
s={4,7,10,20,30,50}
s=s|{100,200}
print(s)

{1, 2, 3, 4, 5, 6, 20, 10}
{50, 4, 20, 100, 7, 200, 10, 30}

In [10]:
#43 WAS to delete the specific value into the set.
s={1,3,4,6,9,10}
s-={1,3,9}
print(s)

{4, 6, 10}

In [13]:
#44 WAS to concat the new key and value into the dict.
d={'a':150}
d['b']=750
print(d)

a={1:2,5:8}
b={7:8,9:80}
a|=b
print(a)

{'a': 150, 'b': 750}
{1: 2, 5: 8, 7: 8, 9: 80}

In [15]:
#45 WAS to delete the specific key and value in the given dict.
d={2:10,5:30,6:50}
del d[6]
print(d)

{2: 10, 5: 30}

In [17]:
 #46 WAS to modify the specific value in the given dict.
x={10:150,20:"haii"}
x[10]="good"
print(x)

{10: 'good', 20: 'haii'}

In [19]:
#47 WAS to concat the list and tuple values by using type casting.
l=['a','b','c']
t=(10,20,30)
print(l+list(t))

['a', 'b', 'c', 10, 20, 30]

In [20]:
#48 WAS to concat the list value and tuple value without using type casting.
l=[4,5,6]
t=(10,20,30)
l+list(t)

[4, 5, 6, 10, 20, 30]

In [25]:
#49 WAS to check the given number is divisible by 3.
n=9
print(n%3==0)

True

In [27]:
#50 WAS to check the given number is divisible by 2 and 6.
n=12
print(n%2==0 and n%6==0)

True

In [28]:
#51 WAS to check the last digit is divisible by 3 from given integer number(with out typecasting)
n=1996
print((n%10)%3==0)

True

In [29]:
#52 WAS to extract the last digit in given integer number (without typecasting)
n=1996
print(n%10)

6

In [30]:
#53 WAS to check the last digit by 3 from given integer number(with typecasting)
n=2026
print(int(str(n)[-1])%3==0)

True

In [31]:
#54 WAE to check the given number is greater than 150.
n=250
print(n>150)

True

In [32]:
#55 WAS to check thr given num is >=100.
n=101
print(n>=100)

True

In [33]:
#56 WAS to check the given num is <150.
n=99
print(n<150)

True

In [34]:
#57 WAS to check the given num is<=100.
n=45
print(n<=100)

True

In [35]:
#58 WAS to check the given num is > 15 & < 24.
n=20
print(n>15 and n<24)

True

In [36]:
#59 WAS to check the given num is even.
n=44
print(n%2==0)

True

In [38]:
#60 WAS to check the given num is odd.
n=16
print(n%2!=0)

n=15
print(n%2!=0)

False
True

In [39]:
#61 WAE to perform the replication of a given string.
s="abc"
print(s*4)

abcabcabcabc

In [40]:
#62 WAE to check the given num is divisible by 3 and also the num should be > 22.
n=27
print(n%3==0 and n>22)

True

In [41]:
#63 WAs to check the perform the length of the collection is even or not.
l='pyspiders'
print(len(l)%2==0)

l="pyspider"
print(len(l)%2==0)

False
True

In [22]:
#64 WAE to check perfor, the length of the collection is less than 55 and greater than 16.
r="abcdefghijklmnopqrstuvwxyz"
print(len(r)>16 and len(r)<55)

True

In [45]:
#65 WAE to check perform the length of collection is divisible by 5 and odd
g="abcdefghijklnmo"
print(len(g)%5==0 and len(g)%2!=0)

True

In [2]:
#66 WAS to check extract  middle position of a given collection is either (str,list,tuple)
s="haii"
res=type(s[len(s)//2])
print(res in[str,list,tuple])

True

In [4]:
#67 WAS to check the given number is greater than 20 and less tahn 30 and it should be even.
n=24
print(n>20 and n<30 and n%2==0)

True

In [1]:
#68 WAS  check the given number is even and it should be less than  120.
n=96
print(n%2==0 and n<120 )

True

In [2]:
#69 WAS to check the given number is even and present from 40 to 70.
n=66
print(n%2==0 and n<70 and n>40)

True

In [3]:
#70 WAS to check the given number is odd and it should be >97.
n=105
print(n%2!=0 and n>97)

True

In [4]:
#71 WAS to check the given num is< 122 and > 48 and the num divisible by 4.
n=96
print(n%4==0 and n<122 and n>48)

True

In [5]:
#72 WAS to check the given num is divisible by 3 0r 5 .
n=18
print(n%3==0 or n%5==0)

True

In [7]:
#73 WAS to check the given num is between 100 to 200 including the limit.
n=150
print(100<n<200)
print(n>=100 and n<=200)

True
True

In [8]:
#74 WAE to check the given num is between 100 to 200.
n=180
print(n>100 and n<200)

True

In [9]:
#75 WAE to check the given string last digit ascii value should be divisible by 5 or not.
s="appld"
print(ord(s[-1])%5==0)

True

In [10]:
#76 WAE to check the given num is present between  60 to 130 and the num shold be divisible by 3 and 4 and the last digit should be < 9.
n=120
print(60<=n<=130 and n%3==0 and n%4==0 and n%10<9)

True

In [11]:
#77 WAE to check the given num is even or less than 25.
n=23
print(n%2==0 or n<25)

True

In [12]:
#78 WAE to check the given num is even or greater than 25.
n=26
print(n%2==0 or n>25)

True

In [13]:
#79 WAE to check the given number is divisible by either 3 or 5.
n=27
print(n%3==0 or n%5==0)

True

In [14]:
#80 WAE to check the given number is not an even number.
n=45
print(n%2!=0)

True

In [15]:
#81 WAE to check the given num is not an odd num.
n=96
print(n%2==0)

True

In [18]:
#82  WAE to check the given num is not divisible by 3
n=28
print(n%3!=0)

True

In [19]:
#83  WAE to check the given num is not divisible by 3 and 5.
n=28
print(n%3!=0 and n%5!=0)

True

In [20]:
#84  WAE to check the given num is not divisible by 3 or 5.
n=27
print(n%3!=0 or n%5!=0)

True

In [29]:
#85.WAE to check the given character ascii value is not divisible by 5.
ch="B"
print(ord(ch)%5!=0)

True

In [30]:
#86. WAE to check to find out the ascii character is given num.
n=65
chr(n)

'A'

In [31]:
#87. WAE to check to find out the ascii value in a given character.
ch="A"
ord(ch)

65

In [32]:
#88. WAE to check the given char is uppercase or not.
ch="G"
'A'<=ch and ch<='Z'

True

In [2]:
#89 WAE to check the given char is lowercase or not.
ch="a"
print('a'<=ch and ch<='z')

True

In [1]:
#90 WAE to check the given char is the alphabet.
ch="G"
print('A'<=ch and ch<='Z' or 'a'<=ch and ch<='z')

True

In [3]:
# 91 WAE to check the given character is the ascii number.
ch='5'
print('0'<=ch<='9')

True

In [4]:
#92 WAE  to check the given character is the special character.
ch='$'
print (not('A'<=ch and ch<='Z' or 'a'<=ch and ch<='z' or'0'<=ch<='9' ))

True

In [5]:
# 93 WAE to check the given character should not be uppercase.
ch="G"
print(not('A'<=ch and ch<='Z'))

False

In [6]:
#94 WAE to check the given character should not be lowercase.
ch="a"
print(not('a'<=ch and ch<='z'))

False

In [1]:
# 95 WAE to check the given character should not be the alphabet.
ch='M'
print (not('A'<=ch and ch<='Z' or 'a'<=ch and ch<='z'))

False

In [2]:
#96 WAE to check the given character should not be an ascii num.
ch='5'
print(not('0'<=ch<='9'))

False

In [3]:
#97 WAE to check the given character should not be the spc char.
ch="e"
print('A'<=ch and ch<='Z' or 'a'<=ch and ch<='z' or'0'<=ch<='9' )

True

In [4]:
#98 WAE to check the given character is a vowel.
ch="A"
ch in "AEIOUaeiou"

True

In [5]:
#99 WAS to check the given character is consonant.
ch='b'
ch not in "AEIOUaeiou"

True

In [23]:
#100 WAs to print "HELLO WORLD"
"Hello world"

'Hello world'

In [6]:
#101 WAS to convert uppercase to lowercase in a given charcter.
ch='A'
chr(ord(ch)+32)

'a'

In [7]:
#102 WAS to convert lowercase to uppercase in a given charcter.
ch='a'
chr(ord(ch)-32)

'A'

In [8]:
# 103 WAS to extract the previous character in the given character.
ch="B"
chr(ord(ch)-1)

'A'

In [9]:
# 104 WAS to extract the next character in the given character
ch="B"
chr(ord(ch)+1)

'C'

In [10]:
#105 WAS to check the given character is converted to ascii value and the value is even as weel as the character should be lowercase.
ch="d"
print(len(ch)==1 and ord(ch)%2==0 and "a"<=ch<="z")

True

In [12]:
#106 WAE to check the given character is converted to ascii value and the value is odd as weel as the character should be uppercase.
ch="E"
print(len(ch)==1 and ord(ch)%2!=0 and "A"<=ch<="z")

True

In [13]:
#107 WAE to check the given num is converted to character is not a symbol or not.
n=57
print('A'<=chr(n)<='Z' or 'a'<=chr(n)<='z' or '0'<=chr(n)<='9')

True

In [14]:
#108 WAE to check the given num of the ascii character is a vowel or not.
n=65
chr(n) in "aeiouAEIOU"

True

In [16]:
#109 WAE to check if the first and second character are sequence or not in a given string.
s="ABCD"
ord(s[0])+1==ord(s[1])

True

In [17]:
#110 WAE to check the given char ASCII value should be either greater than 50 or >25 or <112.
ch="0"
print(ord(ch)>25 or ord(ch)<112)

True

In [23]:
#111 WAE to the given number should increased by 1.
n=10
n=n+1
print(n)

11

In [24]:
#112 WAE to the given number should increased by 2.
n=30
n=n+2
print(n)

32

In [26]:
#113 WAE to the given number should decreased by 2.
n=30
n=n-2
print(n)

28

In [27]:
#114 WAE to the given number should decreased by 3.
n=8
n=n-3
print(n)

5

In [28]:
#115 WAE to check the given int num is present in the collection.
n=10
coll=[10,20,30,40]
print(n in coll)

True

In [32]:
#116 WAE to perform the addition operation on A value and B value and final result should be updated to A.
a=50
b=60
a=a+b
print(a)

110

In [33]:
#117 WAE to check the given value is present in collection.
s="p"
coll="pyspiders"
print(s in coll)

True

In [34]:
#118 WAE to check the list is present in the list.
s=[10,30,]
coll=[10,30,[10,30],40,50]
print(s in coll)

True

In [35]:
##119 WAE to check the given dict value preent in tuple.
s={10:20}
coll=(10,20,{10:20},40)
print(s in coll)

True

In [36]:
#120 WAE to check given value is integer or not.
b=5
print(type(b)==int)

True

In [37]:
#121 WAE to check given value is string or not.
b="15"
print(type(b)==str)

True

In [39]:
#122 WAE to check given value is single value or not.
c=b'10101'
print(type(c) in [int,float,complex,bool,bytes,type(None)])

True

In [42]:
#123 WAE to check given value should not be a single value.
c="10"
print(type(c) not in [int,float,complex,bool,bytes,type(None)])

True

In [43]:
#124 WAE to check given value is multi value or not.
c="pys"
print(type(c) in[str,tuple,list,set,dict])

True

In [1]:
#125 WAE to check given value is a mutable value  or not.
c=[10,20]
print(type(c) in [dict,set,list])

True

In [3]:
#126 WAE to check given value is a inmutable value  or not.
c=15+6j
print(type(c) not in [dict,set,list])

True

In [4]:
#127 WAE to check if a given value is divisible by 6 as well as that value present in the collection or not.
n=36
print(n%6==0 and n in [10,26,36,50.40])

True

In [5]:
#128 WAE to check perform the bitwise and operation given values are 15 and 19.
m=15
n=19
print(m&n)

3

In [6]:
#129 WAE to perform the bitwise or operation in given values are 115 and 79.
m=115
n=79
print(m|n)

127

In [7]:
#130 WAE to perform the bitwise xor operation in given values are 56 and 22.
m=56
n=22
print(m^n)

46

In [ ]:
#131 WAE to perform the bitwise not operation in given value is 15.
n=15
print()

In [8]:
#132 WAE to perform the bitwise leftshift with 32 and skipping value is 3.
m=32
n=3
print(m<<n)

256

In [9]:
#133 WAE to perform bitwise rightshift with 25 and skipping value is 2.
m=25
n=2
print(m>>n)

6

In [1]:
#134 To find out the output of a given condition.
(10+20 *60 and 10**3) or ({10,20}or not ([15-16]))

1000

In [17]:
#135 WAE to check if a given key is present in a dict.
d={'a':10,'haii':"bye",(100,):(10,20)}
k='a'
print(k in d)

k='a'
print(k in d.keys())

True
True

In [4]:
#136 WAE to check if value is present in a dict or not.
d={'a':10,'haii':"bye",(100,):(10,20)}
k=10
print( k in d.values())

True

In [5]:
#137  WAE to check if a given key is not present in a dict.
d={'a':10,'haii':"bye",(100,):(10,20)}
k='a'
print(k not in d)

k='a'
print(k not in d.keys())

False
False

In [6]:
#138 WAE to check if the key value pair is present in given dict or not.
d={'a':10,'haii':"bye",(100,):(10,20)}
k=('a',10)
print(k in d.items())

True

In [12]:
#139 WAE to check if two values are pointing to the same address or not.
a=257
b=257
print(a is b)

a=15
b=15
print(a is b)

False
True

In [14]:
#140 WAE to check both the values should be integer and both the values are pointing to the same address.
a=256
b=256
print(type(a)==int and type(b)==int and a is b)

True